{% extends "base_generic.html"%}
{% block content %}
<h1> Sensor {{sensor.id}}</h1>
<p><strong>Room:</strong> {{sensor.room}}</p>
<p><strong>Description:</strong> {{sensor.description}}</p>
<p><strong> Measures:</strong> {{measures_names}}</p>     

<h2> Measures </h2>
<div class="container">
    <div class="row">
        {% regroup sensor.measurement_set.all by unit as measurements_kind %}
        {% for measures in measurements_kind%}
        <div class="col-sm">
            <table class = "table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope ="col">{{measures.grouper}}</th>
                </tr>
            </thead>
            <tbody>
                {% for m in measures.list %}
                <tr>
                    <th scope="row"> {{ m.time|date:'d/m/Y H:i' }} </th>
                    <td scope="row"> {{m.value}}{{m.unit.unit}}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
        {% endfor %}
        

    </div>
</div>
{% endblock%}